.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 34px 20px 0; /* dùng padding thay margin-top cố định */
  box-sizing: border-box;
  background: transparent;
  z-index: 10;
}

/* container */
.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

/* Logo  wrapper */
.logoWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.logo {
  width: 46px;
  height: 42px;
  display: block;
}

.nameProduct {
  color: var(--color-primary);
  font-family: "Product Sans";
  font-size: clamp(18px, 3.5vw, 36px);
  font-weight: 700;
  text-transform: uppercase;
}

/* navigate */
.navigate {
  flex: auto;
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

.link {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-primary);
}

/* actions */
.actions {
  flex: 1;
  display: flex;
  gap: 16px;
  align-items: center;
}

/*  button common*/
.btn {
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 12px;
}

/* btn modifiers */
.btnLogin {
  min-width: 130px;
  color: var(--color-primary);
  background: transparent;
}
.btnSignup {
  min-width: 147px;
  color: var(--text-light);
  background: var(--color-primary);
}
