.footer {
  height: 345px;
  width: 100%;
  margin-top: 50px;
}
/* container */
.container {
  display: flex;
  justify-content: space-between;
  padding: 58px 80px 45px 80px;
  background-color: var(--color-primary);
  border-radius: 100px 100px 0 0;
}

/* wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  width: 46px;
  height: 42px;
  aspect-ratio: 23/21;
  margin-bottom: 78px;
}

/* subscribe */
.subscribe {
  display: flex;
  width: 449px;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

/* title */
.subscribe h3 {
  color: var(--text-light);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2; /* 29.227px */
}

.form {
  display: flex;
  height: 56px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  background: var(--bg-light);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.form input {
  color: #bbb;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.form button {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 6px 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #fbae17;
}
/* end_subscribe */

/* navigate */
.navigate {
  text-align: end;
}

.title {
  color: var(--text-light);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  margin-top: 27px;
  margin-bottom: 14px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.link {
  color: var(--text-light);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.btnFacebook {
  background: transparent;
  margin-top: 33px;
}

/* end_navigate */

/* copyright */
.copyright {
  text-align: center;
  padding: 10px;
  gap: 10px;
  background-color: #00944a;
}

.copyright p {
  color: var(--text-light);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
/* end_copyright */
